nav {
    position:relative;
    top: 0;
    width: 100%;
    height: 50px;
    background:transparent;
}

.list {
    list-style-type: none;
    background:white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    display:flex;
    gap: 30px;
}
.items {
   
    font-size: 10px;
    
    color: black;
    cursor: pointer;
}

.btn {
    display: none;
    position: absolute;
    right: 10px;
    top: 7px;
    padding: 5px;
    color: #000;
    font-size: 18px;
}


@media screen and (max-width: 500px){

    .list {
        flex-direction: column;
        height: auto;
        margin-bottom:350px;
    }
    .items:nth-child(1){
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        margin-top: 50px;
    }
    .items {
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.555);
        text-align: center;
        margin-right: 0px;
        padding: 20px 0;
    }
    .btn {
        display: block;
    }

}